@import "../../sections/kodla-donusturelim-sections.css";

@media only screen and (max-width: 1024px) {
    section.kodla-donusturelim .wrapper {
        width: 100%;
    }

    section.kodla-donusturelim .wrapper .videos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    section.kodla-donusturelim .wrapper .videos .video {
        height: 340px;
        width: 100%;
    }

    section.kodla-donusturelim .wrapper .videos .video iframe {
        width: 100%;
    }

    section.offers .offers-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    section.goals .wrapper {
        width: 90%;
    }
}
